@CHARSET "UTF-8";

.news_module .news_item {
	margin: 20px 0;
	overflow: hidden;	
}

.news_module .news_item h2 {
	border: none;		
}

.news_module .news_item h2 .date {
	color: #3bb9fa;
	font-style: italic;
}


.news_module .news_item .image {
	width: 120px;
	text-align: center;
	float: left;	
	margin: 10px 0
}


.news_module .news_item p.right {
	padding-left: 135px;	
}