#php_value short_open_tag On

RewriteEngine on


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/temp/thumb/(.*)$
RewriteRule /thumb/(.*)$ /thumb/$1 [R=303,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ /index.php?url=$1 [L,QSA]


#php_value upload_max_filesize 2M
#php_value post_max_size 16M


AddDefaultCharset utf-8

